
@import '/css/global.css';
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto');

body {
    font-family: 'Open Sans','clear-sans-regular',sans-serif;
    font-size: 15px;
    color: #222;
    margin: 0;
}

body > * {
    display: block;
    padding: 20px;
}