
@import '/css/global.css';

body {
    font-family: 'clear-sans-regular','tahoma',Helvetica,'helvetica',Arial,sans-serif;
    font-size: 15px;
    width: 1200px;
    margin: 20px auto;
    color: #222;
}

header {
    display: table;
}

header img {
    width: 40px;
}

header > * {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: text-bottom;
    padding-right: 10px;
}

.lines {
    width: auto;
    padding-right: 0;
}

.lines div {
    border-bottom: 1px dashed black;
    padding: 0 0 4px 0;
    margin: 0;
}

.lines div div {
    width: 85%;
}

.lines > div {
    width: 100%
}
