@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  padding: 0 1rem 1rem 0;

  a {
    $linkColor: #333;
    text-decoration: none;
    color: $linkColor;

    &.current {
      text-decoration: underline;
    }

    &:visited {
      color: $linkColor;
    }
    &:hover {
      color: lighten($linkColor, 50%);
    }
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 2rem;
    margin: 0 1rem;

    span {
      font-size: 0.5em;
      white-space: nowrap;
    }
  }
}

main {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;

    img {
        max-width: 100%;
        padding: 2rem;
        box-sizing: border-box;
    }
}